//
// Badges
// --------------------------------------------------

.badge {
  background-color: rgba(0, 0, 0, .15);
  border-radius: 100px;
  color: #333;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 2px 9px 3px;

  // Inverted badges have no background.
  &.badge-inverted {
    background-color: transparent;
    padding: 0 5px 0 0;
  }
}


// Badge modifiers
// --------------------------------------------------

// Main badge
.badge-primary {
  background-color: $primary-color;
  color: #fff;

  &.badge-inverted {
    color: $primary-color;
  }
}

// Positive badge
.badge-positive {
  background-color: $positive-color;
  color: #fff;

  &.badge-inverted {
    color: $positive-color;
  }
}

// Negative badge
.badge-negative {
  background-color: $negative-color;
  color: #fff;

  &.badge-inverted {
    color: $negative-color;
  }
}
