//
// Slider styles (to be used with sliders.js)
// --------------------------------------------------

// Width of slider
.slider {
  // Outer wrapper for slider
  background-color: #000;
  overflow: hidden;

  width: 100%;
  // Inner wrapper for slider (width of all slides together)
  .slide-group {
    font-size: 0; // Remove spaces from inline-block children
    position: relative;
    white-space: nowrap;
    @include transition(all 0s linear);

    // Individual slide
    .slide {
      display: inline-block;
      font-size: 14px;
      height: 100%;
      vertical-align: top; // Ensure that li always aligns to top
      width: 100%;
    }
  }
}
