//
// Toggle styles (to be used with toggles.js)
// --------------------------------------------------

.toggle {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 20px;
  display: block;
  height: 30px;
  position: relative;
  width: 74px;
  @include transition-property(background-color, border);
  @include transition-duration(.2s);

  // Sliding handle
  .toggle-handle {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 100px;
    height: 28px;
    left: -1px;
    position: absolute;
    top: -1px;
    -moz-transition-property: -moz-transform, border, width;
    -webkit-transition-property: -webkit-transform, border, width;
    transition-property: transform, border, width;
    width: 28px;
    z-index: 2;
    @include transition-duration(.2s);
  }

  &:before {
    color: #999;
    content: 'Off';
    font-size: 13px;
    position: absolute;
    right: 11px;
    text-transform: uppercase;
    top: 3px;
  }

  // Active state for toggle
  &.active {
    background-color: $positive-color;
    border: 2px solid $positive-color;

    .toggle-handle {
      border-color: $positive-color;
      @include transform(translate3d(44px, 0, 0));
    }

    &:before {
      color: #fff;
      content: 'On';
      left: 15px;
      right: auto;
    }
  }

  // Hide the checkbox
  input[type='checkbox'] {
    display: none;
  }
}
